body {
  font-family: "Montserrat", sans-serif;
}

.topPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  overflow: auto;
  background-color: #61b3fb;
  background-image: url(Images/Intersect.png);
  background-blend-mode: multiply;
  border-radius: 0em 0em 4em 4em;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.178);
  padding: 0;
}

.topPageText a {
  text-decoration: none;
  color: #f1f1f1;
}

.topPageContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topPageContent img{
  width: 40em;
  height: 40em;
}

.topPageContent h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.topPageContent p {
  color: #ffffff;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 400;
}

.topPageContent span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topPageText {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 1.5em;
}

.topPageContent button {
  background-color: #141e39;
  color: #ffffff;
  border-radius: 8px;
  width: 16rem;
  border: none;
  text-align: center;
  padding: 0.6em;
  font-weight: 700;
  position: relative;
  top: 4.5em;
  transition: 0.6s;
}

.topPageContent button:hover {
  background-color: #0a76d9;
  cursor: pointer;
  border: 1px solid #222;
}

.midPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.midPage a {
  text-decoration: none;
  color: #f1f1f1;
}

.midPage span {
  color: #61b3fb;
  font-size: 1.3em;
}

.midPage p {
  font-size: 1.1em;
  font-weight: 500;
  padding: 2.5em;
}

.midPage h1 {
  font-size: 2.2em;
}

#midPagePhrase {
  background-image: url(Images/Tenha\ sua\ casa\ sempre\ limpa\ na\ frequência\ certa.png);
  background-repeat: no-repeat;
  background-position: 18em 4em;
  width: 80em;
}

.listContainer li {
  list-style-image: url(Images/star\ list.png);
  list-style-position: inside;
}

.listContainer ul {
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
}

.card {
  border: 1px solid black;
  width: 25em;
  height: 28em;
  text-align: center;
  border-radius: 24px;
  background-color: #61b3fb;
}

.cardPlus {
  border: 1px solid black;
  width: 25em;
  height: 28em;
  text-align: center;
  border-radius: 24px;
  background-color: #61b3fb;
}

.cardHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 24px 24px 0 0;
  background-color: #0a76d9;
  color: #ffffff;
}

.cardHeader img {
  font-size: 1.8em;
}

.X {
  border-left: 1px solid black;
  height: 5.4em;
  padding-right: 3em;
  background-image: url(Images/close\ vector.png);
  background-repeat: no-repeat;
  background-position: right;
}

.XPlus {
  border-left: 1px solid black;
  height: 5.4em;
  padding-right: 4em;
  background-image: url(Images/close\ vector.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cardClose {
  padding: 0.1em;
}

.cardHeaderPlus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 24px 24px 0 0;
  font-size: 15px;
  background-color: #0a76d9;
  color: #ffffff;
  font-size: 14px;
  border: none;
}

.cardHeaderPlus h2 {
  padding: 1em;
}

.card img {
  width: 1em;
  margin: 0.2em 0;
}

.card h2 {
  display: flex;
  gap: 1em;
}

.card ul,
.cardPlus ul {
  font-size: 1em;
  text-align: start;
  font-weight: 500;
}

.closeCard {
  border: 1px solid black;
  color: #222;
  height: 100%;
  font-size: 2em;
  text-align: right;
  border-top-right-radius: inherit;
}

.midPage button {
  background-color: #141e39;
  color: #ffffff;
  border-radius: 8px;
  width: 16rem;
  border: none;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  font-weight: 700;
  position: relative;
  transition: 0.6s;
  top: 2.5em;
}

.midPage button:hover {
  background-color: #0a76d9;
  cursor: pointer;
  border: 1px solid #222;
}

.thirdPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #61b3fb;
  background-image: url(Images/Intersect.png);
  background-blend-mode: multiply;
  width: 100%;
  height: 90vh;
  margin-top: 5em;
  border-radius: 4em 4em 4em 4em;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.178);
  padding: 0;
}

.thirdPage a {
  text-decoration: none;
  color: #f1f1f1;
}

.thirdPage header {
  border: 1px solid black;
  border-radius: 2em;
  width: 30em;
  text-align: center;
  background-image: url(Images/É\ fácil\ e\ prático.png);
  background-repeat: no-repeat;
  background-color: #0a76d9;
  background-position: center;
  padding: 0.5em;
  margin: 5em;
}

.thirdPage h1 {
  font-size: 2em;
}

.thirdPageText {
  margin: 4em;
  text-align: center;
  font-weight: 700;
}

.thirdPage button {
  background-color: #141e39;
  color: #ffffff;
  border-radius: 8px;
  width: 16rem;
  border: none;
  font-size: 1.2em;
  text-align: center;
  padding: 0.8em;
  font-weight: 700;
  position: relative;
  transition: 0.6s;
}

.thirdPage button:hover {
  background-color: #0a76d9;
  cursor: pointer;
  border: 1px solid #222;
}

.closePoint {
  position: relative;
  left: 28rem;
  bottom: 1em;
}

.semiCircle {
  position: relative;
  bottom: 8em;
  right: 40em;
  width: 12em;
}

.afterContainer {
  position: relative;
  left: 46rem;
  top: 2em;
}

.fourthPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6em 0;
}

.fourthPage a {
  text-decoration: none;
  color: #f1f1f1;
}

.fourthPage header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18em;
  gap: 7em;
}

.fourthPageText {
  text-align: center;
  font-size: 2em;
  color: #0a76d9;
}

#h1ContainerFP {
  border: 1px solid black;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.151);
  background-color: #0a76d9;
  width: 12em;
  padding: 0.1em;
  color: #f1f1f1;
  border-radius: 10em;
}

.cardsContainerFP {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  margin-left: 5em;
}

.cardFP {
  margin-right: 3em;
  border: 1px solid black;
  background-color: #f1f1f1;
  width: 30em;
  height: 14em;
  border-radius: 1em;
}

.cardFPHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border: 1px solid black;
  background-color: #141e39;
  border-radius: 1em 1em 0 0;
}

.cardHeaderMiddleFP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border: 1px solid black;
  background-color: #141e39;
  border-radius: 1em 1em 0 0;
}

.cardMiddleFP {
  margin-right: 5em;
  width: 30em;
  height: 16em;
  border: 1px solid black;
  background-color: #f1f1f1;
  border-radius: 1em;
}

.cardFP h3,
.cardHeaderMiddleFP h3 {
  padding: 1.2em;
}

.circleContainer {
  border: none;
  width: 4em;
  height: 4em;
  margin-left: 1em;
  position: relative;
  border-radius: 50em;
  background-color: #61b3fb;
}

.circleProfile {
  position: relative;
  bottom: 1em;
  right: 0.6em;
  font-size: 2em;
  color: #f1f1f1;
}

#circleProfileMiddle {
  position: relative;
  bottom: 1em;
  right: 0.7em;
  font-size: 2em;
  color: #f1f1f1;
}

.cardFPName {
  color: #61b3fb;
  font-size: 1.4em;
}

.littleStars {
  margin-right: 1em;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.2em;
  background-color: #f1f1f1;
}

.cardText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.insideTextCard {
  margin: 0.8em;
  font-size: 1.1em;
  font-weight: 400;
}

#dateCardFirst {
  position: relative;
  top: 4em;
  right: 1em;
}

#dateCardMiddle {
  position: relative;
  right: 0.6em;
  top: 0.8em;
}

#dateCardThird {
  position: relative;
  top: 2em;
  right: 1em;
}

.fourthPage button {
  background-color: #0a76d9;
  color: #ffffff;
  border-radius: 8px;
  width: 18rem;
  border: none;
  font-size: 1.2em;
  text-align: center;
  padding: 0.7em;
  font-weight: 700;
  position: relative;
  transition: 0.6s;
}

.fourthPage button:hover {
  background-color: #141e39;
  cursor: pointer;
  border: 1px solid #222;
}

#fifthPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: #0a76d9;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.178);
  padding: 0;
}

#fifthPage a {
  text-decoration: none;
  color: #f1f1f1;
}

#leftContentFiP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
  bottom: 4em;
  align-items: center;
  padding: 3em;
}

#topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  height: 10em;
  text-align: center;
  color: #f1f1f1;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1em;
  font-size: 1.5em;
}

#bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  height: 20em;
  margin: 2em;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  background-color: #f1f1f1;
  border-radius: 1em;
}

#bottomContainer h3 {
  text-align: left;
  padding-left: 1.7em;
  padding-top: 1em;
}

#firstText {
  text-align: left;
  padding-left: 2em;
  color: #0a76d9;
}

#secondText {
  text-align: left;
  padding-left: 2.5em;
  margin-bottom: 1em;
  padding-top: 1.5em;
  line-height: 1.5em;
  color: #0a76d9;
}

#leftContentFiP button {
  background-color: #141e39;
  color: #ffffff;
  border-radius: 8px;
  width: 22rem;
  border: none;
  font-size: 1.2em;
  text-align: center;
  padding: 0.7em;
  font-weight: 700;
  position: relative;
  transition: 0.6s;
}

#leftContentFiP button:hover {
  background-color: #61b3fb;
  cursor: pointer;
  border: 1px solid #222;
}

#estrelinhasFiP {
  position: relative;
  right: 18em;
  top: 7em;
}

#closeFiP {
  position: relative;
  left: 24em;
  top: 2em;
}

#basketCleaning {
  width: 40em;
  height: 40em;
}

